/* NAVBAR */
body {
    background-color: #F5F5F5 !important;
}

.navbar {
    box-shadow: 0px 4px 7px 0;
}

a.navbar-brand {
    border-right: 2px solid black;
    padding-right: 13px;
    padding-top: 0px;
    margin-right: 10px;
}

.navbar.color {
    background-color: #005C8E;
}

.main-nav {
    color: #EAEAEA;
    letter-spacing: 3px;
    font-family: 'keania-one-reguler';
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding-top: 1px;
}

.navbar-nav {
    font-family: 'keania-one-reguler';
    font-size: 18px;
    letter-spacing: 2px;
    padding-top: 3px;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #EAEAEA !important;
}

/* RESPONSIVE */
@media only screen and (min-width: 992px) {
    .navbar-collapse {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 1024px) {
    #naming {
        color: #008DDA !important;
    }

    #blop1 {
        right: -5px !important;
    }

    #blop2 {
        left: -15px !important;
        bottom: -90px !important;
    }

    .edu-wrap:last-child .name-edu {
        font-size: 1rem !important; 
        padding: 7px 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    #naming {
        color: #fff !important;
    }

    .home {
        height: 100% !important;
    }

    .home .row {
        flex-direction: column;
        flex-wrap: nowrap !important;
    }

    .image-body {
        margin-top: 7vh !important;
    }

    .my-description {
        margin-top: 5vh !important;
    }

    .my-description {
        text-align: center;
    }

    .container-inter {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #blop1 {
        right: -70px !important;
        top: -65px;
    }

    #blop2 {
        left: -90px !important;
        bottom: -90px !important;
    }
    .edu-wrap:last-child .name-edu {
        font-size: 1.4rem !important; 
        padding: 4px 0px !important;
    }
    /* language */
    #techstack .my-auto{
        margin-bottom: 0px !important;
    }

    
}

@media only screen and (max-width: 425px) {
    #rel {
        width: 150%;
    }

    #blop1 {
        width: 150%;
        right: -100px !important;
    }

    #blop2 {
        width: 110%;
        bottom: -90px !important;
        left: -100px !important;
    }
    .edu-wrap:last-child .name-edu {
        font-size: 1.3rem !important; 
        padding: 5px 0px !important;
    }

    #techstack .col-6{
        width: 100%;
        overflow: hidden;
    }

    .row.gx-5.techstack{
        --bs-gutter-x : 0px;
    }

    .language.mobile {
        border: 100px !important;
        padding: 20px 25px !important;
    }
    .col-6 .row{
        width: 100% !important;
        --bs-gutter-x: 0px !important;
    }
    .col-6.second h4{
        margin-top: 10px;
    }
}

/* MAIN */

.home {
    height: 520px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#wave {
    position: absolute;
    object-fit: cover;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
}

.interest {
    font-family: 'Montserrat';
    border-radius: 17px;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #3D63DD;
    padding: 7px 20px;
    /* align-items: start;
    align-self: self-start; */
    font-size: 1rem;
    animation: bounce 4s infinite;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.interest:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

#naming {
    color: #FFF7FC;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.3);
}

.my-description {
    align-items: center;
    font-family: 'Roboto';
    width: 380px;
    height: auto;
    font-size: 2.6rem;
    font-weight: bold;
    text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.3);
}

.home .row {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.home .flex {
    display: flex;
    justify-content: center;
}

.position {
    align-self: center;
}

.my-image {
    position: relative;
    display: flex;
    justify-content: center;
}

#blop1,
#blop2 {
    position: absolute;
}

#blop1 {
    right: 45px;
    top: -50px;
    animation: floating2 3s ease-in-out infinite;

}

#blop2 {
    transform: rotate(2deg);
    left: 50px;
    bottom: -90px;
    animation: floating 3s ease-in-out infinite;
    animation-delay: 2s;
}

/* ABOUT */
.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.my-about-img {
    border-radius: 25px;
    height: 320px !important;
    width: 400px;

}

.about-phara {
    font-size: 1.1rem;
}

/* RESPONSIVE */

@media only screen and (max-width: 868px) {
    .about-phara {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 425px) {
    .matching-text {
        display: block !important;
    }

    .about-phara {
        width: 100% !important;
    }

    .education-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        z-index: 9;
        flex-direction: column;
        gap: 18px;
    }

    .education-img .edu-wrap {
        overflow: hidden;
        width: 90% !important;
        height: 189px !important;
        border: 2px solid black;
        padding: 0px !important;
    }

    .education-img img{
        width: 100%;
        object-fit: cover;
        height: inherit;
    }

    #education .container {
        height: 700px !important;
    }

    #edu-line {
        position: absolute;
        border: 4px solid white;
        opacity: 1;
        width: 99%;
        top: 7em;
        margin-top: 100px;
        transform: rotate(90deg);
    }
}

@media only screen and (max-width: 768px) {


    .wrapper-img {
        width: 100% !important;
    }

    .img-wrapper {
        width: 100% !important;
    }

    .wrap-phara {
        margin-top: 20px !important;
        width: 100% !important;
    }

    .wrap-phara h4 {
        text-align: center;
        margin-bottom: 10px;
    }

    .about-phara {
        width: 50%;
    }

    .matching-text {
        display: flex;
        gap: 7px;
    }
}

/* EDUCATION */
#education {
    margin-top: 30px;
    background-color: hsla(208, 89%, 24%, 0.95);
    padding-top: 10px;
}

#education .container {
    height: 360px;
}

#edu-line {
    position: absolute;
    border: 4px solid white;
    opacity: 1;
    width: 99%;
    top: 7em;
}

#education .row {
    height: 260px;
}

#education h2 {
    color: #fff;
    font-family: "DM Sans";
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 42px;
}

.education-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    z-index: 9;
}

.education-img .edu-wrap {
    overflow: hidden;
    position: relative;
    width: 32%;
    height: 200px;
    border: 2px solid black;
    padding: 0px !important;
}

.education-img img{
    width: 100%;
    object-fit: cover;
    height: inherit;
}

.name-edu{
    position: absolute;
    bottom: -80%; 
    background-color: rgba(12, 12, 12, 0.77);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-family: "DM Sans";
    letter-spacing: 0.1rem;
    padding: 2px 0px;
    transition: bottom 0.5s ease; 
    opacity: 0;
}

.edu-wrap:last-child .name-edu {
    font-size: 1.4rem; 
    padding: 4px 0px;
}

.edu-wrap:hover .name-edu {
    bottom: 0; 
    opacity: 1; 
}

/* LANGUAGE */

.language {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: space-around;
}

.icon-lang {
    width: calc(28% - 10px); 
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 10px; 
}

.mobile .icon-lang{
    width: calc(23% - 10px);
    margin-bottom: 0px;
}

.language.mobile, .language.other{
    padding: 20px 25px;
}

.other .icon-lang{
    width: calc(23% - 10px);
    margin-bottom: 0px;
}

.language.web-dev .icon-lang:last-child {
    align-self: flex-start; 
    margin-left: 13px;
    margin-right: auto;
}

#techstack .col-6.second{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: inherit;
}

#techstack h2{
    text-align: center;
    margin: 30px 0px;
}

#techstack h4 {
    margin-bottom: 15px;
}

#techstack .techstack{
    padding: 20px 0px;
}

#techstack h4{
    text-align: center;
}

@keyframes floating {
    0% {
        transform: translate(0, 0) rotate(2deg);
    }

    50% {
        transform: translate(7px, -10px) rotate(2deg);
    }

    100% {
        transform: translate(0, 0) rotate(2deg);
    }
}

@keyframes floating2 {
    0% {
        transform: translate(0, 0) rotate(2deg);
    }

    50% {
        transform: translate(10px, -10px) rotate(2deg);
    }

    100% {
        transform: translate(0, 0) rotate(2deg);
    }
}

@keyframes bounce {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}

/* STORY */
#story {
    width: 100%;
    margin-top: 50px;
}

.parent-story {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title {
    font-weight: bold;
    font-size: 2.8rem;
    display: inline-block;
    background-color: #f5f5f5;
    padding: 0px 20px;
}

#ruler {
    background-color: #D9D9D9;
    position: relative;
    top: -51px;
    width: 80vw;
    height: 1.1vw;
    border: 1px solid #D9D9D9;
    justify-content: center;
    z-index: -2;
}